.cross-btn {
	width: 32px;
	stroke: var(--text);
}

.trailer-btn:enabled {
	background-color: var(--bg);
	border: 1px solid var(--text);
	color: var(--text);
}
.trailer-btn:hover,
.trailer-btn:active {
	background-color: var(--text);
	color: var(--surface);
	box-shadow: 0 0 18px rgba(255, 255, 255, 0.3);
}
