.search-box {
	width: 100%;
	color: var(--surface);
	background-color: var(--text);
}

.search-box::selection {
	background-color: var(--grey);
}

.search-box::placeholder {
	color: var(--grey);
}

.search-box:focus {
	outline: none;
}

.search-icon {
	stroke: var(--surface);
	width: 24px;
}

.search-btn:enabled {
	background-color: var(--text);
	width: 40px;
}

.search-btn:hover {
	background-color: var(--lightgrey);
}

.search-btn:active {
	background-color: var(--grey);
}
