nav {
	/* #3c2a218a */
	background-color: var(--surface);
	/* background-color: rgba(0, 0, 0, 0.4); */
}

.nav-item:link,
.nav-item:visited {
	color: var(--text);
	text-decoration: none;
	font-size: 16px;
}

.nav-item:active,
.nav-item:hover {
	color: var(--grey);
}

.nav-brand:link {
	font-size: 24px;
}
